/* 
ADMIN CSS
COMMON Values:

box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
#F3F8FF light-blue bg
#0d6efd primary-blue
*/

/********************
Global Theme 
********************/
html,body{
    padding: 0;
    margin: 0;
    background-color: #F3F8FF;
    width: 100%;
    height: 100vh;
}

.mycontainer{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 30px !important;
    background-color: white !important;
    padding: 1.5rem !important;
}

.btn_mygreen:hover,
.btn_mygreen:focus{
    color: #fff;
    background-color:#0d6efd;
    border-color: #0d6efd;
    transition: 0.25s;
    transform: translateY(-0.25em);
}

a{
    color: #0d6efd;
}

a:hover{
    color: #0d6efd;
}


.myblue{
    color: #0d6efd;
} 

.mydarkblue, h1,h2,h3,h4,h5,h6{
    color: #183B68;
}


/********************
Global Theme End 
********************/




/********************
Styling Sidebar 
********************/

#sidebar{
    border-radius: 0 50px 0 0;
    z-index: 20;
    position: fixed;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Change The Sidebar Nav Item To Fill Width */
.nav-item{
    width: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #0d6efd;
    color: white;
}

#menu .nav-link{
    border-radius: 15px;
    font-weight: bold;
}

.nav-link{
    color: #0d6efd;
}

.nav-link:hover{
    color: #0d6efd;
    opacity: 0.8;
}

#menu .nav-link:hover:not(.active){
    background-color: #F3F8FF;
}

#profile{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 30px !important;
    background-color: white !important;
}


/********************
 Sidebar End 
********************/




/********************
Styling Topbar 
********************/

#topbar_container{
    padding: 0 5% 0 0;
    top:0;
    background-color: #F3F8FF;
    position: fixed;
    z-index: 10;
}

#page_title{
    color: #183B68;
}

/* Responsive Sidebar with topbar and right container width */
  @media (max-width: 575.98px) {
    #right_container{
        padding-left: 25%;
    }
    #topbar{
        width: 65%;
    }
 
  }
  @media (min-width: 576px) { 
    #right_container{
        padding-left: 35%;
    }
    #topbar{
        width: 55%;
    }
  
  }
  @media (min-width: 768px) { 
    #right_container{
        padding-left: 30%;
    }
    #topbar{
        width:70%;
    }
  
  }
  @media (min-width: 1200px) { 
    #right_container{
        padding-left: 20%;
    }
    #topbar{
        width: 80%;
    }
  }
  @media (min-width: 1500px) { 
    #right_container{
        padding-left: 20%;
    }
    #topbar{
        width: 80%;
    }
  }
/* Responsive bar end */

#top_searchbar:focus, .btn:focus{
    outline: none !important;
    box-shadow: none;  
}

/********************
Topbar End 
********************/

/********************
Main Content Continer (inside right container below the topbar)  
********************/
.main_content_container{
    margin-top:100px ;
}

/********************
Main Content Container End 
********************/
